.blueprint {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  .blueprintInfo {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
  }

  .entities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;

    .entity {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      position: relative;
      padding: 4px;
      background-color: #dfdfdf;
      border-radius: 3px;
      cursor: pointer;

      .entityImage {
        width: 34px;
        height: 34px;
      }

      .entityCount {
        color: white;
        position: absolute;
        bottom: 2px;
        right: 2px;
        pointer-events: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        text-shadow: rgb(40, 40, 40) 1px 1px 2px;
      }
    }
  }

  .render {
    display: grid;
    gap: 1px;
    padding: 10px;
    background-color: #023047;

    .renderItem {
      aspect-ratio: 1 / 1;
    }

    .cell {
      position: relative;
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.cellActive {
        cursor: pointer;
      }

      .cellContent {
        position: absolute;
        bottom: 0;
        background-color: #fff;
        border-radius: 3px;
        flex-direction: row;
        padding: 10px;
        gap: 6px;
        display: none;
        z-index: 1000;

        &.active {
          display: flex;
        }

        .cellContentItem {
          position: relative;
          border: 1px solid black;
          border-radius: 3px;
          padding: 3px;

          .entityImageContent {
            width: 50px;
          }

          .entityImageContentCount {
            position: absolute;
            bottom: 2px;
            right: 2px;
            color: white;
            font-weight: bold;
            text-shadow: rgb(0, 0, 0) 0 0 3px;
          }
        }
      }
    }

    .entityImage {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
