.searchPage {
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;

  @media (max-width: 1024px) {
    padding: 0 10px;
  }

  .searchBox {
    display: flex;
    flex-direction: row;
    align-items: center;

    .searchBoxText {
      flex: 1;
    }
    .searchBoxButton {
    }
  }

  .filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 0.5rem;
  }
}
