.header {
  background: rgb(144, 93, 0);
  background: linear-gradient(
    0deg,
    rgba(144, 93, 0, 1) 0%,
    rgba(255, 165, 0, 1) 100%
  );
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: space-between;
  gap: 1rem;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .title {
    font-weight: normal;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;

    @media (max-width: 600px) {
      align-items: center;
    }

    .description {
      color: #ffffff;
      font-size: 22px;
      font-weight: 600;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;

    .navItem {
      .navLink {
        padding: 1rem 0;
        color: white;
      }
    }
  }
}
