.printsList {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  flex: 1;

  .pageControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .sort {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }

  .printsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    row-gap: 4rem;
    justify-content: space-between;

    @media (max-width: 650px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 400px) {
      grid-template-columns: 1fr;
    }

    &.listView {
      grid-template-columns: 1fr;
    }

    .print {
      flex: 1;
      min-width: 120px;
      text-decoration: none;
      color: #000000;
      display: flex;
      flex-direction: column;
      background-color: #fff;

      @media (max-width: 800px) {
        max-width: 300px;
        margin: 0 auto;
      }

      .imageContainer {
        position: relative;

        .printImg {
          width: 100%;
          border-radius: 3px;
          aspect-ratio: 16 / 9;
          object-fit: contain;
          background-color: #ffd68f;
        }

        .imageButton {
          position: absolute;
          top: 5px;
          left: 5px;
        }

        .isBook {
          position: absolute;
          left: 5px;
          bottom: 10px;
          background-color: white;
          border-radius: 2px;
          padding: 0 10px;
          font-size: 12px;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          font-weight: bold;
        }
      }

      .printInfo {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .printName {
          font-weight: bold;
          font-size: 1rem;

          @media (max-width: 800px) {
            font-size: 1rem;
          }
        }

        .summary {
          font-weight: normal;
          font-size: 0.8rem;
        }

        .description {
          display: none;
        }

        .printInfoBottom {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          font-size: 0.8rem;
          color: #935d00;

          .rating {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.2rem;
          }

          .date {
            font-size: 0.8rem;
            font-weight: normal;
          }
        }
      }
    }

    &.listView {
      grid-template-columns: 1fr;
      row-gap: 1rem;

      .print {
        width: 100%;
        flex-direction: row;
        gap: 1rem;

        @media (max-width: 800px) {
          max-width: 100%;
          margin: 0 auto;
          gap: 0.5rem;
        }

        .printImg {
          height: 160px;
          width: auto;

          @media (max-width: 800px) {
            height: 120px;
          }

          @media (max-width: 600px) {
            height: 86px;
          }
        }

        .printInfo {
          padding: 10px 0;

          @media (max-width: 600px) {
            padding: 0;
          }

          .description {
            display: flex;
            font-size: 1rem;
            font-weight: normal;

            @media (max-width: 600px) {
              display: none;
            }
          }

          .printInfoBottom {
            gap: 1rem;

            @media (max-width: 600px) {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 0.5rem;
  }
}
